.section {
	@apply flex justify-center items-center relative h-[150vh] w-full;
}

.content {
	@apply flex flex-col items-center h-full;
}

.headingContainer {
	@apply sticky top-[30vh] overflow-visible;
}

.heading {
	@apply text-center text-sand text-h128 font-heading;
}

.quote {
	@apply text-center text-sand;
}

.image {
	position: absolute;
	top: -250px;
	width: 50vh;
	height: 30vh;
	object-fit: cover;
	opacity: 0.1;
	z-index: -1;
}
.imagee {
	position: absolute;
	top: 200px;
	left: 100px;
	width: 50vh;
	height: 30vh;
	object-fit: cover;
	opacity: 0.1;
	z-index: -1;
}
.imageee {
	position: absolute;
	top: -150px;
	left: 600px;
	width: 50vh;
	height: 30vh;
	object-fit: cover;
	opacity: 0.1;
	z-index: -1;
}
