.layout {
	@apply flex relative flex-col items-center max-w-[1400px] min-h-screen px-2.5 mx-auto;
}

.layout::before,
.layout::after {
	@apply z-[-1000] absolute top-0 bottom-0 h-full w-[1px] bg-b-grey;
	content: '';
}

.layout::before {
	@apply left-[23.5%];
}

.layout::after {
	@apply right-[47.6%];
}

@media (max-width: 1400px) {
	.layout {
		max-width: 1180px;
	}
}

@media (max-width: 1000px) {
	.layout {
		max-width: 880px;
	}
}

@media (max-width: 768px) {
	.layout {
		max-width: 580px;
	}
}

@media (max-width: 480px) {
	.layout {
		max-width: 380px;
	}
	.layout::before,
	.layout::after {
		display: none;
	}
}

@media (max-width: 320px) {
	.layout {
		max-width: 280px;
	}
}
