.mobileMenu {
	@apply hidden transition-colors duration-200 ease-in-out cursor-pointer w-full;
}

.menu {
	@apply hidden fixed top-0 left-0 w-full h-full bg-dark justify-center items-center z-[9999];
	animation: fadeIn 0.2s ease-in-out;
}

.mobileMenuClose {
	@apply absolute top-5 right-8 cursor-pointer;
}

.nav {
	@apply flex flex-col gap-20;
}

.route {
	@apply text-h42 uppercase;
}

.iconWrapper {
	@apply hidden cursor-pointer relative overflow-hidden;
}

.icon {
	@apply text-sand;
	transition:
		opacity 0.2s ease-in-out,
		transform 0.2s ease-in-out;
}
.menuIcon {
	@apply opacity-100 w-full;
}

.closeIcon {
	@apply absolute top-0 left-0 opacity-0 w-full;
	transform: rotate(-45deg);
}

.iconWrapper.open .menuIcon {
	@apply opacity-0;
	transform: rotate(45deg);
}

.iconWrapper.open .closeIcon {
	@apply opacity-100;
	transform: rotate(0deg);
}

@media (max-width: 768px) {
	.menu {
		@apply flex;
	}
	.mobileMenu {
		@apply block;
	}

	.iconWrapper {
		@apply inline-block;
	}
}
